.wrapper {
  display: grid;
  grid-template-areas:
    "left right"
    "mainList mainList"
    "bottom bottom";
  grid-template-rows: 2fr;
  grid-template-columns: 1fr 1fr;
}

.topLeft {
  background: rgba(0, 0, 0, 0.3);
  left: 30px;
  grid-area: left;
}
.topRight {
  left: 30px;
  background: rgba(0, 0, 0, 0.3);
  grid-area: right;
}

.middleWhole {
  background: #1b2a42;
  min-height: 300px;
  border: 0px solid #fff;
  padding: 15px 25px;
  margin-top: 120px;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-box-shadow: -48px 62px 41px 70px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -48px 62px 41px 70px rgba(0, 0, 0, 0.75);
  box-shadow: -48px 62px 41px 70px rgba(0, 0, 0, 0.75);
  grid-area: mainList;
}

.positionBot {
  grid-area: bottom;
  width: 100%;
  height: 50px;
}

.bottomLeft {
  justify-self: start;
  padding-top: 60px;
}
.bottomRight {
  justify-self: end;
  padding-top: 60px;
}

.container {
  justify-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.myButton {
  box-shadow: inset 0px -3px 7px 0px #091d26;
  background: linear-gradient(to bottom, #004a75 5%, #141f29 100%);
  background-color: #004a75;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.myButton:hover {
  background: linear-gradient(to bottom, #141f29 5%, #004a75 100%);
  background-color: #141f29;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.boxButton {
  box-shadow: 4px 5px 0px 0px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 7px;
  border: 2px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 14px 76px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  width: 300px;
  height: 300px;
}
.boxButton:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.boxButton:active {
  position: relative;
  top: 1px;
}
